/*
    Desc: styling de l'horaire
*/

body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

.horaire-conteneur {

    .semaine {
        text-align: center;
        font-weight: 700;
        font-size: 0.9em;
    }

    .heures {
        div {
            border-bottom: 1px solid gray;
            text-align: right;
            
            &:first-child {
                border-top: 1px solid gray;
            }
        }
        
    }

    .cours {
        background-color: #EEEEEE;

        .case {
            background-color: #FFFFFF;
            text-align: center;

            span {
                font-size: 0.7em;

                &:first-child {
                    font-weight: 700;
                }
            }
        }
    }
}